@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Monst;
    src: url();
}

body{
    background-color: hwb(48 86% 0%);
    width: 100vw;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

.ql-container {
    border: none !important;
}

.ql-toolbar {
    border: none !important;
}

.ql-editor {
    border: none !important;
}