@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Monst;
    src: url();
}

body{
    background-color: cornsilk;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}